{% extends 'stock/base_template.html' %}

{% block content %}
	<form action="" hx-post="{% url 'stock:add_products_supplier' pk %}" enctype="multipart/form-data">
	{% csrf_token %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-8 mt-3" id="main-container">
					<a href="" hx-get="{% url 'stock:suppliers' %}" hx-target="body" hx-swapp="innerHTML"><i class="fa-solid fa-left-long bg-dark text-light p-2" rounded></i></a>
					<table class="table table-responsive table-sm table-bordered">
						<thead>
							<tr>
								<th>Image</th>
								<th>Name</th>
								<th>Quantity</th>
								<th>Price</th>
								<th>Total</th>
								<th>Category</th>
								<th><button type="submit" style="background-color: #fff; border: none; padding: 0; margin: 0;"><i class="fa-solid fa-plus"></i></button></th>
							</tr>
						</thead>
						<tbody>
							{% for product in products %}
								<tr>
									<td><img class="img-thumbnail rounded" src="../../media/{{product.image.name}}" alt="image of the product" style="height: 100px;"></td>
									<td>{{product.name}}</td>
									<td>{{product.quantity}}</td>
									<td>{{product.price}}</td>
									<td>{{product.total}}</td>
									<td>{{product.category}}</td>
									<td><input type="checkbox" name="products[]" value="{{product.id}}" id=""></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<div class="pagination">
					<span class="step-links">
					    {% if page_obj.has_previous %}
					        <a href="?page=1">&laquo; first</a>
					        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
					    {% endif %}

					    <span class="current">
					        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
					    </span>

					    {% if page_obj.has_next %}
					        <a href="?page={{ page_obj.next_page_number }}">next</a>
					        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
					    {% endif %}
					</span>
					</div>
				</div>
				<div class="col-4" id="container">
					<div id="htmx-container">
						
					</div>

					<div>
						{% if forms.errors %}
					        {% for form in forms.errors.items %}
					            {% for field, error in form.errors.items %}
						            <p class="alert bg-danger text-light">{{field}} - {{error.as_text}}</p>
						        {% endfor %}
					        {% endfor %}
					    {% endif %}
					    {% if forms.non_form_errors %}
					    	{{forms.non_form_errors}}
					    {% endif %}

						{{forms.management_form}}
						{% csrf_token %}
							{% for form in forms %}
							{% if forloop.first %}
								<p>All suppliers Pass To:</p>
							{% endif %}
						
							{% for field in form %}
								{{field}}
							{% endfor %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}