<table class="table table-responsive table-sm table-bordered">
	<thead>
		<tr>
			<th>Image</th>
			<th>Name</th>
			<th>Brand</th>
			<th>Price</th>
			<th>Cost</th>
			<th>Quantity</th>
			<th>Total Cost</th>
			<th>Total Price</th>
			<th>Category</th>
			<th></th>
			<th><a href="" hx-get="{% url 'stock:delete_products_supplier' supplier.id %}" hx-target="body" hx-reswap="innerHTML"><i class="fa-solid fa-square-check"></i></a></th>
		</tr>
	</thead>
	<tbody>
		{% for product in products %}
			<tr>
				<td><img class="img-thumbnail rounded" src="../../media/{{product.image.name}}" alt="image of the product" style="height: 100px;"></td>
				<td>{{product.name}}</td>
				<td>{{product.brand}}</td>
				<td>{{product.price}}</td>
				<td>{{product.cost}}</td>
				<td>{{product.quantity}}</td>
				<td>{{product.total_cost}}</td>
				<td>{{product.total_price}}</td>
				<td>{{product.category}}</td>
				<td><a href="" hx-get="{% url 'stock:update_product' product.id %}" hx-target="#htmx-container" hx-swap="innerHTML"><i class="fa-solid fa-pencil"></i></a></td>
				<td><a href="" hx-post="{% url 'stock:delete_product' product.id %}" hx-target="#htmx-container" hx-swap="innerHTML"><i class="fa-solid fa-trash"></i></a></td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<div class="pagination">
<span class="step-links">
	{% if page_obj.has_previous %}
		<a href="?page=1">&laquo; first</a>
		<a href="?page={{ page_obj.previous_page_number }}">previous</a>
	{% endif %}

	<span class="current">
		Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
	</span>

	{% if page_obj.has_next %}
		<a href="?page={{ page_obj.next_page_number }}">next</a>
		<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
	{% endif %}
</span>
</div>